body {
    color:black;
    background-color:white;
    /* background-image:url("../img/backgroundIndex.svg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial;
    }

canvas {
    border: 2px solid black;
    background-image: url("../img/background1.svg");
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

p {
    font-size: 20px;
}
div#Regles p, h1, h2 {
    margin-left: 10%;
    margin-right: 10%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #352E54;
    text-align: center;
  }
  
  li {
    float: left;
    background-image: url("../img/btnNavBar.svg");
    background-repeat: no-repeat;
    border: 1px solid;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a:hover:not(.active) {
    background-image: url("../img/plateforme.svg");
    
  }
  
  .active {
    background-image: url("../img/plateforme.svg");
  }

  


.slidecontainer {
    width: 500px;

}

#sliders{
    display: none;
}

.slider {
    -webkit-appearance: none;
    width: 500px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: rotate(270deg)
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
